#include "rc.h"
#include "version.h"

MAIN_CHESS_ICON ICON "cl_chess.ico"
QIPAN_BMP BITMAP "res/qipan.bmp"
CHESS_PIECE_BP_01 BITMAP "res/chesspieces/red_king.bmp"
CHESS_PIECE_BP_02 BITMAP "res/chesspieces/red_guard.bmp"
CHESS_PIECE_BP_03 BITMAP "res/chesspieces/red_minister.bmp"
CHESS_PIECE_BP_04 BITMAP "res/chesspieces/red_knight.bmp"
CHESS_PIECE_BP_05 BITMAP "res/chesspieces/red_rook.bmp"
CHESS_PIECE_BP_06 BITMAP "res/chesspieces/red_cannon.bmp"
CHESS_PIECE_BP_07 BITMAP "res/chesspieces/red_pawn.bmp"
CHESS_PIECE_BP_08 BITMAP "res/chesspieces/black_king.bmp"
CHESS_PIECE_BP_09 BITMAP "res/chesspieces/black_guard.bmp"
CHESS_PIECE_BP_10 BITMAP "res/chesspieces/black_minister.bmp"
CHESS_PIECE_BP_11 BITMAP "res/chesspieces/black_knight.bmp"
CHESS_PIECE_BP_12 BITMAP "res/chesspieces/black_rook.bmp"
CHESS_PIECE_BP_13 BITMAP "res/chesspieces/black_cannon.bmp"
CHESS_PIECE_BP_14 BITMAP "res/chesspieces/black_pawn.bmp"

1 VERSIONINFO

 FILEVERSION   VERSION_DEFINE
 PRODUCTVERSION VERSION_DEFINE
 FILEFLAGS      0x0L
 FILEFLAGSMASK  0x3fL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Clean Li"
            VALUE "FileDescription", "Chinese Chess"
            VALUE "FileVersion", VALUE_VERSION_DEFINE
            VALUE "LegalCopyright", "Copyright (C) 2020 CleanLi"
            VALUE "InternalName", "ChineseChess"
            VALUE "OriginalFilename", "cchess"
            VALUE "ProductName", "ChineseChess"
            VALUE "ProductVersion", VALUE_VERSION_DEFINE
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

IDM_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New",                        IDM_FILE_NEW
        MENUITEM "&Open",                       IDM_FILE_OPEN
        MENUITEM "&Save",                        IDM_FILE_SAVE
    END
    POPUP "&Control"
    BEGIN
        MENUITEM "&Back",                        IDM_CONTROL_BACK
        MENUITEM "S&tart here",                  IDM_CONTROL_STARTHERE
        MENUITEM "&Reset",                      IDM_CONTROL_RESET
    END
    POPUP "&Help"
    BEGIN
        POPUP "&View"
        BEGIN
            MENUITEM "Content1",                    IDM_VIEW_CONTEXT1
            MENUITEM "Context2",                    IDM_VIEW_CONTEXT2
        END
    END
END
