#include "rc.h"

MAIN_CHESS_ICON ICON "cl_chess.ico"
QIPAN_BMP BITMAP "res/qipan.bmp"
CHESS_PIECE_BP_01 BITMAP "res/chesspieces/red_king.bmp"
CHESS_PIECE_BP_02 BITMAP "res/chesspieces/red_guard.bmp"
CHESS_PIECE_BP_03 BITMAP "res/chesspieces/red_minister.bmp"
CHESS_PIECE_BP_04 BITMAP "res/chesspieces/red_knight.bmp"
CHESS_PIECE_BP_05 BITMAP "res/chesspieces/red_rook.bmp"
CHESS_PIECE_BP_06 BITMAP "res/chesspieces/red_cannon.bmp"
CHESS_PIECE_BP_07 BITMAP "res/chesspieces/red_pawn.bmp"
CHESS_PIECE_BP_08 BITMAP "res/chesspieces/black_king.bmp"
CHESS_PIECE_BP_09 BITMAP "res/chesspieces/black_guard.bmp"
CHESS_PIECE_BP_10 BITMAP "res/chesspieces/black_minister.bmp"
CHESS_PIECE_BP_11 BITMAP "res/chesspieces/black_knight.bmp"
CHESS_PIECE_BP_12 BITMAP "res/chesspieces/black_rook.bmp"
CHESS_PIECE_BP_13 BITMAP "res/chesspieces/black_cannon.bmp"
CHESS_PIECE_BP_14 BITMAP "res/chesspieces/black_pawn.bmp"
